#carouselExampleRide {
  width: 60%;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 830px;
}

.brand-phrase {
  position: relative;
  left: 1300px;
  bottom: 600px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 110px;
  color: hsla(0, 0%, 18%, 0.8);
  margin: 0;
  padding: 0;
}
#Journey {
  margin: 0;
  padding: 0;
  font-size: 170px;
  height: 160px;
  width: fit-content;
}
#Your-Fashion {
  height: 75px;
  width: fit-content;
}
#Start-here {
  width: fit-content;
}
