.fa-heart {
  color: hsla(0, 0%, 18%, 0.8);
  font-size: 20px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.25ms ease;
}

.fa-heart:hover {
  color: hsla(0, 0%, 10%, 0.8);
}

.wishBadge {
  margin-right: 30px;
}
