#footer {
    background-color:hsla(0, 0%, 97%, 0.8) ;
    padding: 40px  120px;
}

.social i {
    color: hsla(0, 0%, 18%, 0.8); 
    font-size: 30px;
    margin-right: 10px;
}

#footer p {
    height: 10px;
    padding-bottom: 15px;
    color: hsla(0, 0%, 18%, 0.8);
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: hsla(0, 0%, 18%, 0.8); 
}
.social i:hover {
    color: hsla(0, 0%, 8%, 0.8);
}

#footer a:hover {
    text-decoration: none;
    color: hsla(0, 0%, 8%, 0.8);
}